version: "3.9"

services:
  postgres:
    image: postgres:16-alpine
    container_name: wb_tariffs_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: wb_tariffs
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: wb_tariffs
    restart: always
    depends_on:
      - postgres
    env_file:
      - .env
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: wb_tariffs
    volumes:
      - ./config:/app/config
    command: ["node", "dist/app.js"]

volumes:
  postgres_data: